/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "rooms";
@import "profiles";

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background-color: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  border: 1px solid black;
  border-radius: 5px;
}

.dropdown-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.dropdown-menu a:hover {
  background-color: #f0f0f0;
}

.dropdown-menu.show {
  display: block;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.login-link, .new-link {
  margin-right: 10px;
  text-decoration: none;
  background-color: greenyellow;
  color: black;
  padding: 5px;
  border-radius: 5px;
}

.signup-link, .forget-password {
  display: inline-block;
  text-decoration: none;
  background-color: blue;
  border-bottom: 1px solid black;
  color: white;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}
/* 検索　*/
.search-form {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.search-select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}