// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.reservation-form {
  padding: 15px;
  justify-items: center;
}

.reservation-form div {
  margin-bottom: 20px;
}

/* 予約一覧 */
.my-room-name {
  text-decoration: none;
  color: red;
}

.room-image {
  max-width: 100%;
  height: auto;
}

.reservation-image {
  max-width: 100%;
  height: auto;
}

.reservation-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 15px;
  justify-items: center;
}

.reservation-li {
  padding: 15px;
  border: 1px solid silver;
  border-radius: 5px;
  text-align: center;
  background-color: rgb(85, 183, 85);
}

.my_reservation-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 15px;
}

.my_reservation {
  padding: 15px;
  border: 1px solid silver;
  border-radius: 5px;
  text-align: center;
  background-color: rgb(85, 183, 85);
}

.btn-info {
  background-color: aqua;
}

.btn-des {
  color: yellow;
  background-color: red;
}

/* 予約詳細　*/
.reservation-detail {
  justify-items: center;
}

/* エラー表示　*/
.alert-danger {
  border: 1px solid red;
  border-radius: 5px;
  background-color: yellow;
  margin-bottom: 20px;
  text-align: center;
  list-style: none;
}

/* 予約確認　*/
.confirm-list {
  text-align: center;
}

.confirm-list p {
  padding: 10px;
}

.btn-primary {
  display: inline-block;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.btn-secondary {
  cursor: pointer;
  padding: 8px;
  border-radius: 5px;
  margin: 20px 0 0 15px;
}

.confirm-submit {
  text-align: center;
}