// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.reservation-form {
  padding: 15px;
  justify-items: center;
}

.reservation-form div {
  margin-bottom: 20px;
}

/* 予約一覧 */
.reservation-list {
  padding: 15px;
  justify-items: center;
}

.my_reservation-list {
  justify-items: center;
  padding: 20px;
}

.btn-info {
  background-color: aqua;
}

.btn-des {
  color: yellow;
  background-color: red;
}

/* 予約詳細　*/
.reservation-detail {
  justify-items: center;
}